In [1]:
# Importing all the necessary Libararies

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## Creating a datas variable consisting of various dates. 
### Using data_range() function to form a list of 6 such dates.

In [5]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

## Converting the dates variable into a DataFrame.

In [6]:
df=pd.DataFrame(np.random.randn(6,4),index = dates,columns=('A','B','C','D') )
df

                   A         B         C         D
2013-01-01 -0.157724 -0.566110 -0.676295 -1.600854
2013-01-02  1.662195  0.248636  0.468401  0.644562
2013-01-03  1.183423 -0.284943 -0.779633 -0.445591
2013-01-04  1.348688  0.923650  0.463249 -0.687336
2013-01-05 -0.733194 -0.227056 -0.316576 -1.463865
2013-01-06  0.820362 -0.956857  0.021371  1.114991

## Converting a 2D Matrix into a DataFrame

In [7]:
df1={
    'column1':[1,2,3,4],
    'column2':[5,6,7,8]
}
pd.DataFrame(data=df1)

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8

## Converting the int64 bit to int 8 bit

In [8]:
df1_type=pd.DataFrame(data=df1 , dtype=np.int8)
print(df1_type.dtypes)

column1    int8
column2    int8
dtype: object

In [9]:
df2= pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
df2

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Slicing the Dataframe for only showing the output of the first 3 index.

In [10]:
df2=pd.DataFrame(data=df2,index=['a','b','c'])

## Associating the elements of the array to a column. Using np.array() function to convert the list into an array
### Such that the elements of the array are in rows of the columns of 'a' , 'b' , 'c'.

In [11]:
df3=np.array([(1,2,3),(4,5,6),(7,8,9)], dtype=[('a','i4'),('b','i4'),('c','i4')] )
pd.DataFrame(data = df3)
pd.DataFrame(data = df3, columns=['a','b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9